{% extends "news/base.html" %}

{% block content %}
    <style>
        img {
          border: 1px solid #ddd;
          border-radius: 4px;
          padding: 5px;
          width: 150px;
        }

        img:hover {
          box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
    </style>

    <article class="media content-section">
        <div id="news-container"></div>
    </article>
    <div class="text-center">
        <a href="" class="btn btn-primary" id="btn_prev" onclick="prevPage();return false;">Previous Page <span id="pre_page"></span></a>
         Page <span id="page" class="" style="margin-right: 15px"></span>
        <a href="" class="btn btn-primary" id="btn_next" onclick="nextPage();return false;">Next Page <span id="nex_pate"></span></a>
        <hr>
    </div>


{% endblock %}

{% block script %}

    <script>
        var current_page = 1;
        var next_page = 0;

        $(document).ready(function() {
             newHeadline();
             setInterval( newHeadline, 800000);
        })

        function attachNews(newsValue, prepend){
                    var headline = newsValue['headline'];
                    var news_source = newsValue['news_source'];
                    var news_url = newsValue['news_url'];
                    var thumbnail = newsValue['thumbnail'];
                    var country = newsValue['country'];
                    if(thumbnail == ""){
                        thumbnail = 'https://images.unsplash.com/photo-1588681664899-f142ff2dc9b1'
                    }
                    newsFormatedHtml = `<div><img src = "${thumbnail}" class="img-thumbnail" alt="img" >
                                        <h5><a class="article-title" href="${news_url}">${headline}</a></h5></div>

                                        <div><h6>News source: <small>${news_source}   </small></h6><h6>Country: <small>${country}</small></h6></div> </br> <\hr>
                                        `;
                    if (prepend === false){
                            $("#news-container").prepend(newsFormatedHtml)
                        }else{
                            $("#news-container").append(newsFormatedHtml)
                        }
                    }

        function newHeadline(page=1){

            var token_v = window.localStorage.getItem('token')
            var url = '/api/news/';
            $.ajax({
                url: url,
                dataType: 'json',
                type: 'GET',
                // contentType: 'application/x-www-form-urlencoded',
                headers: {"Authorization": 'Token ' + token_v},
                data : {
                    page: page
                },
                success: function (data) {
                    if(data['news'].length == 0){
                        var error_text = 'No news available for your available settings. Added at least one country'
                        document.getElementById("news-container").innerText = error_text;
                        var btn_next = document.getElementById("btn_next");
                        var btn_prev = document.getElementById("btn_prev");
                        var page_span = document.getElementById("page");

                        current_page = data['current_page']
                        var next_page = data['next_page']

                        if (current_page == 1) {
                            btn_prev.style.visibility = "hidden";
                        } else {
                            btn_prev.style.visibility = "hidden";
                        }

                        if (next_page > current_page) {
                            btn_next.style.visibility = "hidden";
                        } else {
                            btn_next.style.visibility = "hidden";
                        }
                        page_span.innerHTML = 1;

                    }else {
                        var btn_next = document.getElementById("btn_next");
                        var btn_prev = document.getElementById("btn_prev");
                        var page_span = document.getElementById("page");

                        current_page = data['current_page']
                        var next_page = data['next_page']

                        if (current_page == 1) {
                            btn_prev.style.visibility = "hidden";
                        } else {
                            btn_prev.style.visibility = "visible";
                        }

                        if (next_page > current_page) {
                            btn_next.style.visibility = "visible";
                        } else {
                            btn_next.style.visibility = "hidden";
                        }
                        page_span.innerHTML = current_page;

                        var total_news = data['news']
                        $("#news-container").html('')
                        var i;
                        for (i = 0; i < total_news.length; i++) {
                            attachNews(total_news[i], true)
                        }
                    }
                },
                error: function (data, jqXhr, textStatus, errorThrown) {
                    if(data['status'] == 429){
                        var error_text = 'No news available'
                        document.getElementById("news-container").innerText = error_text;
                        var btn_next = document.getElementById("btn_next");
                        var btn_prev = document.getElementById("btn_prev");
                        var page_span = document.getElementById("page");
                        if (current_page == 1) {
                            btn_prev.style.visibility = "hidden";
                        } else {
                            btn_prev.style.visibility = "hidden";
                        }

                        if (next_page > current_page) {
                            btn_next.style.visibility = "hidden";
                        } else {
                            btn_next.style.visibility = "hidden";
                        }
                    }

                    if (data['status'] == 401){
                        window.location.replace("/login/");
                    }
                    var page_span = document.getElementById("page");
                    page_span.innerHTML = 1;
                }
            });
        }

        // Pagination

        function prevPage()
        {
            var page = current_page -1
            newHeadline(page);
        }

        function nextPage()
        {
            var page = current_page + 1
            newHeadline(page);
        }
    </script>

{% endblock %}
